<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d [%t] %highlight{%-5level}{ERROR=red, INFO=blue, DEBUG=green} %logger{36} - %msg%n%throwable"  /> 
        </Console>
        <File name="FileAppender" fileName="ieee1599.log" immediateFlush="true" append="false">
            <PatternLayout
                pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="ConsoleAppender" level="INFO"></AppenderRef>
            <AppenderRef ref="ConsoleAppender" level="ERROR"></AppenderRef>
            <AppenderRef ref="FileAppender" level="DEBUG" />
        </Root>
    </Loggers>
</Configuration>